:root{
--dark-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--very-dark-blue: hsl(212, 21%, 14%);
--dark-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);
}

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", serif;
    background-color: var(--cream);
}

footer{
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    font-family: "Montserrat", serif;
}

.flex-container{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 40rem;

    border: transparent;
    border-radius: 10px;
    overflow: hidden;
   
}

.flex-item{
    width: 50%;
    height: 100%;
    
}


.img{
    background: url(./images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.info{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2rem;
    box-sizing: border-box;
}

.info h3{
    letter-spacing: 0.4rem;
    text-transform:uppercase ;
    font-family: "Montserrat", serif;
    font-weight: 400;
    opacity: 0.4;
    margin: 0;
    font-size: 0.8rem;
    
}

.info .title {
    font-size: 2.4rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin: 1rem 0;
    line-height: 2.7rem;
    color: var(--very-dark-blue);
}

.info p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 1.2px;
    opacity: 0.7;
    color: var(--dark-blue);
    margin: 0.5rem 0;
}

.info button {
    height: auto;
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--white);
    align-self: center;
    border-radius: 10px;

    font-family: "Montserrat", serif;
    font-size: 0.9rem;
    margin-top: auto;
    box-shadow: 0 0 1px black;
    transition: all .1s;
}

.info button:active {
    box-shadow: 0 0 0 black;
    transition: all .1s;
    background-color:hsl(158, 32%, 37%);;
}

.info button i {
    padding-right: 0.5rem;
    
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}

.container .current-price {
    color: var(--dark-cyan);
    font-family: "Fraunces", serif;
    font-size: 1.9rem;
    margin-right: 2rem;
}

.container .normal-price {
    color: var(--very-dark-blue);
    text-decoration:line-through;
    opacity: 0.6;
    font-size: 1rem;
}


@media screen and (max-width: 650px){
    .flex-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 75%;
        
        border: transparent;
        border-radius: 10px;
        overflow: hidden;
    }


    .img{
        height: 40%;
        width: 100%;
        background: url(./images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
    }

    .info{
        height: 60%;
        width: 100%;
        padding: 1.5rem;
        
    }
    .info .title{
        font-size: 1.9rem;
        margin: 0.5rem 0;
    }

    footer{
        font-size: 0.5rem;
    }

   
    
}

@media screen and (max-width: 500px){
    .flex-container{
        width: 90%;
    }

    .info p {

    }

    .container{
        margin-top: auto;
    }

   

  

    


}

